<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculated Pay</title>
    <style>
        .container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <ul style="list-style-type: none;">
            <% locals.result.forEach(item => { %>
                <% if(item.original === "line"){ %>
                    <li><hr></li>
                <% }else{ %>
                <li><%= item.original %> - Pay: <%= item.pay %></li>
                <% } %> 
            <% }); %>
        </ul>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>